.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;    
  top: -60px;            
  padding: 10px 20px;
}

.timer {
  font-weight: bold;
  color: black;
}

.logo {
  width: 60px;
  height: auto;
}
