body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  gap: 3rem;
  background: #1e293b;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 250px;
}

@media (max-width: 700px) {
  section {
    flex-direction: column;
    align-items: center;
  }
}
